.one {
    height: 1000px;
    background-color:rgb(238, 133, 5)
}

.two {
    height: 1000px;
    background-color:rgb(116, 123, 177)
}

.three {
    height: 1000px;
    background-color:bisque
}

.four {
    height: 1000px;
    background-color:rgb(134, 218, 128)
}
